@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nanum+Myeongjo&family=Open+Sans+Condensed:wght@100&display=swap"
);

:root {
    --wm-gold: #cf9b00;
}

* {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, h4, p {
    font-family: "Nanum Myeongjo", serif;
}

input {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 100;
}

header {
    border-bottom: 1px solid lightgrey;
    grid-column: 1 / 13;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 4em;
}

header > img {
}

#logo {
    font-family: "Kaushan Script", cursive;
    font-size: 1.5em;
    color: var(--wm-gold);
    animation: 3s screech;
    display: flex;
    align-items: center;
}

@keyframes screech {
    0% {
	margin-left: 79%;
    }

    100% {
	margin-left: 0;
    }
}

header span {
    margin-top: -50px;
    transform-origin: bottom;    
}

@keyframes hanging {
    0% { transform: rotateZ(0deg); }

    20% { transform: rotateZ(225deg); }

    40% { transform: rotateZ(135deg); }

    60% { transform: rotateZ(202.5deg); }

    80% { transform: rotateZ(157.5deg); }

    100% { transform: rotateZ(180deg); }
}

h1 {
    grid-column: 1 / 13;
    text-align: center;
    margin-top: 0.5em;
}

.snips {
    grid-column: 4 / 10;
    text-align: center;
    margin-top: 2em;
}

#tip-container {
    grid-column: 4 / 10;
}

#tip-container p {
    border: 1px solid var(--wm-gold);
    margin: 1em;
    padding: 1em;
}

#search-container {
    grid-column: 1 / 13;
    background-color: var(--wm-gold);
    height: 50vh;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}

#destination {
    height: 2em;
    width: 50vw;
    margin-top: 3em;
    font-size: 1.4em;
}

.prediction {
    background-color: white;
    width: 50vw;
    height: 1.7em;
}

@media (max-width: 500px) {
    body {
	grid-template-columns: repeat(5, 1fr);
    }

    header {
	grid-column: 1 / 6;
    }

    #logo {
	animation: 1s screech;
    }

    @keyframes screech {
	0% {
	    margin-left: 30%;
	}
    }

    h1 {
	grid-column: 1 / 6;
    }

    .snips {
	grid-column: 2 / 5;
	text-align: center;
    }

    #tip-container {
	grid-column: 1 / 6;
    }

    #tip-container p {
	
    }

    #search-container {
	grid-column: 1 / 6;
    }
    
    #destination {
	width: 80vw;
    }
}


