@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
);

:root {
    --wm-gold: #cf9b00;
}

* {
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    border-bottom: 1px solid lightgrey;
    grid-column: 1 / 13;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 4em;
}

header > img {
}

#logo {
    font-family: "Kaushan Script", cursive;
    font-size: 1.5em;
    color: var(--wm-gold);
    animation: 3s screech;
    display: flex;
    align-items: center;
}

@keyframes screech {
    0% {
	margin-left: 79%;
    }

    100% {
	margin-left: 0;
    }
}

header span {
    margin-top: -50px;
    transform-origin: bottom;    
}

@keyframes hanging {
    0% { transform: rotateZ(0deg); }

    20% { transform: rotateZ(225deg); }

    40% { transform: rotateZ(135deg); }

    60% { transform: rotateZ(202.5deg); }

    80% { transform: rotateZ(157.5deg); }

    100% { transform: rotateZ(180deg); }
}

@media (max-width: 500px) {
    body {
	grid-template-columns: repeat(5, 1fr);
    }

    header {
	grid-column: 1 / 6;
    }

    #logo {
	animation: 1s screech;
    }

    @keyframes screech {
	0% {
	    margin-left: 30%;
	}
    }
	
}


